.MenuList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed; /* To appear over other content */
  top: 5em; /* Adjust according to design */
  right: 1em; /* Adjust according to design */
  width: 50%;
  height: 30%;
  background-color: var(--clr-bg-primary);
  padding: 2em;
  border-radius: 15px;
  border: 2px solid var(--clr-bg-secondary);
  filter: drop-shadow(0 0 0.5rem var(--clr-shadow));
  z-index: 1000; /* Ensure it's above other elements */
}

.MenuList::after {
  position: absolute;
  width: 2em;
  height: 2em;
  border-top: 2px solid var(--clr-bg-secondary);
  border-left: 2px solid var(--clr-bg-secondary);
  bottom: 100%;
  left: 80%;
  margin-bottom: -1em;
  margin-left: -1em;
  content: "";
  transform: rotate(45deg);
  background-color: var(--clr-bg-primary);
}
.MenuList li {
  font-weight: 700;
}
