.MenuList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5em;
  padding: 2em 3em 2em 2em;
  position: fixed;
  top: 5em;
  right: 0.5em;
  background-color: var(--clr-bg-primary);
  border-radius: 15px;
  border: 2px solid var(--clr-bg-secondary);
  filter: drop-shadow(0 0 0.5em var(--clr-shadow));
  z-index: 100;
}

.MenuList::after {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-top: 2px solid var(--clr-bg-secondary);
  border-left: 2px solid var(--clr-bg-secondary);
  bottom: 100%;
  left: 90%;
  margin-bottom: -1em;
  margin-left: -1em;
  content: "";
  transform: rotate(45deg);
  background-color: var(--clr-bg-primary);
}

.MenuList a {
  font-weight: 700;
  color: inherit;
}

@media only screen and (min-width: 768px) {
  .MenuList {
    right: 5rem;
  }
}

@media only screen and (min-width: 1025px) {
  .MenuList {
    right: 7.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .MenuList {
    right: 15rem;
  }
}
