.EventDetails_images_container {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 1em;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}
.EventDetails_images {
  width: 288px;
  height: 173px;
  border-radius: 10px;
}

.EventDetails_description a {
  color: var(--clr-primary-focused);
}
