.EventDetails {
  padding-bottom: 2rem;
}
.EventDetails h2,
.EventDetails h3,
.EventDetails p {
  margin: 1rem;
}
.EventDetails_image {
  width: 450px;
  height: 270px;
  margin: auto;
}

.EventDetails_image_container {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  gap: 1em;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}
.EventDetails_images {
  width: 288px;
  height: 173px;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  .EventDetails h2,
  .EventDetails h3,
  .EventDetails p {
    margin: 1rem 5rem;
  }
}
@media only screen and (min-width: 1025px) {
  .EventDetails h2,
  .EventDetails h3,
  .EventDetails p {
    margin: 1rem 15rem;
  }
}
