.DecadeNavigation {
  display: flex;
  justify-content: start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1.5rem;
}
