.DecadeNavigation {
  display: flex;
  justify-content: start;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  gap: 1rem;
  margin: 1rem;
}

@media only screen and (min-width: 1024px) {
  .DecadeNavigation {
    justify-content: center;
  }
}
