.Header {
  padding: 1rem;
  background-color: var(--clr-bg-primary);
  box-shadow: 0px 1px 5px 0px var(--clr-shadow);
  position: sticky;
  top: 0;
  z-index: 100;
}

.Header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ksssLogo {
  width: 3em;
  height: 3em;
}

.Header_nav_links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  color: var(--clr-primary);
  font-weight: 700;
}

.Header_nav_link {
  text-decoration: underline;
  color: var(--clr-text-primary);
}

@media only screen and (min-width: 768px) {
  .Header {
    padding: 1rem 5rem;
  }
  .Header_nav_links {
    gap: 3rem;
  }
}
@media only screen and (min-width: 1025px) {
  .Header {
    padding: 1rem 7.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .Header {
    padding: 1rem 15rem;
  }
}
