.Header {
  padding: 1em 1em;
  box-shadow: 0px 1px 5px 0px var(--clr-shadow);
}

.Header_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ksssLogo {
  width: 3em;
  height: 3em;
}

.Header_nav_links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 1em;
  color: var(--clr-primary);
  font-weight: 700;
}

.Header_nav_link {
  text-decoration: underline;
  color: var(--clr-text-primary);
}
