/* Reset */
* {
  box-sizing: border-box;
  margin: 0;

  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  object-fit: contain;
}

/* Global */
:root {
  --clr-primary: #348db3;
  --clr-primary-focused: #1181b1;
  --clr-secondary-focused: #f1b646;
  --clr-bg-primary: #ffff;
  --clr-bg-secondary: #f7f7f7;
  --clr-text-primary: #141414;
  --clr-text-secondary: #ffff;
  --clr-shadow: #c0c6d0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--clr-text-primary);
}

h1 {
  font-weight: 600;
  font-size: 2rem;
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}
a,
button {
  text-decoration: none;
  cursor: pointer;
  border: none;
}

ol,
ul,
li {
  list-style-type: none;
}
