/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* Global */
:root {
  --clr-primary: #0070b1;
  --clr-bg-primary: #ffff;
  --clr-bg-secondary: #f7f7f7;
  --clr-text-primry: #454545;
  --clr-text-secondary: #ffff;
}

html {
  scroll-behavior: smooth;
}
