.ContainerStyle {
  padding: 0.5rem 1rem;
}
@media only screen and (min-width: 768px) {
  .ContainerStyle {
    padding: 1rem 5rem;
  }
}
@media only screen and (min-width: 1025px) {
  .ContainerStyle {
    padding: 1rem 15rem;
  }
}
