.IntroImage_wrapper {
  text-align: center;
}

.IntroImage {
  width: 400px;
  height: 300px;
}

@media only screen and (min-width: 768px) {
  .IntroImage {
    width: 630px;
    height: 420px;
    margin-bottom: 2em;
  }
}
